# Node.js
node_modules/
.env
.env.*
process.env

*.sh

temp_mfa

# Build output
dist/
build/
jmdict-eng-3.6.1.json
jmdict-db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
server/node_modules/
client/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# App data
/books/

# Misc
*.log
